/* Print Styles with @page support */

@page {
  size: A4;
  margin: 0;
}

/* Print-specific styles */
@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  #vue-inspector-container,
  #__vue-devtools-container__ {
    display: none !important;
  }
}
